@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 219 37% 17%;

    --card: 0 0% 100%;
    --card-foreground: 219 37% 17%;

    --popover: 0 0% 100%;
    --popover-foreground: 219 37% 17%;

    --primary: 201 100% 36%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 100% 27%;
    --secondary-foreground: 0 0% 100%;

    --muted: 213 30% 96%;
    --muted-foreground: 215 16% 47%;

    --accent: 213 30% 96%;
    --accent-foreground: 219 37% 17%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 201 100% 36%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 219 37% 17%;
    --foreground: 0 0% 100%;

    --card: 219 37% 17%;
    --card-foreground: 0 0% 100%;

    --popover: 219 37% 17%;
    --popover-foreground: 0 0% 100%;

    --primary: 201 100% 36%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 100% 27%;
    --secondary-foreground: 0 0% 100%;

    --muted: 217 33% 18%;
    --muted-foreground: 215 20% 65%;

    --accent: 217 33% 18%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;

    --border: 217 33% 18%;
    --input: 217 33% 18%;
    --ring: 201 100% 36%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold;
  }
  h3,
  h4,
  .subheading {
    @apply font-subheading font-semibold;
  }
}

@layer utilities {
  .bg-soft-blue {
    background-color: #f0f5fa;
  }
  .bg-deep-blue {
    background-color: #023e8a;
  }
  .text-deep-blue {
    color: #023e8a;
  }
  .text-dark-blue {
    color: #1b263b;
  }
}

.container.active .sign-up {
  transform: translateX(0%);
  opacity: 1;
  z-index: 5;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}